@import 'compass';
@import 'variables';
@import 'mixin';
// @import 'elements';
// @import 'fonts';

section{
	@include padding-all(30px,0,30px,0);
	&.highlight,&.bg-dark,&.highlight-bottom,&.footer{
		color:$theme-color-white;
		h2{
			color:$theme-color-white;
		}
	}
	&.highlight{
		text-align: center;
		background-image: image-url('banner.png');
		background-size: cover;
		h1{
			margin-bottom:0;
		}
		h1,h2{
			text-align: center;
			width: 100%;
			max-width: 480px;
			@include margin-all(null,auto,null,auto);
		}
		p{
			width: 300px;
			@include margin-all(null,auto,null,auto);
		}
	}
	&.bg-dark{
		background-color: $theme-color-dark;
	}
	&.highlight-bottom{
		background-image: image-url('banner-bottom.png');
		background-size: cover;
	}
	ul{
		&.social-media{
			li{
				@include inline-block;
				a{
					display: block;
					@include size(30px,30px);
				}
				&:hover{
					opacity:0.9;
				}
			}
			&.colored{
				width: 290px;
				@include margin-all(20px,auto,null,auto);
				li{
					display: table-cell;
					a{
						@include size(48px,56px);
						&.lg-facebook{
							background-color: $bg-facebook;
						}
						&.lg-twitter{
							background-color: $bg-twitter;
						}
						&.lg-linkedin{
							background-color: $bg-linkedin;
						}
						&.lg-gplus{
							background-color: $bg-gplus;
						}
						&.lg-whatsapp{
							background-color: $bg-whatsapp;
						}
						&.lg-email{
							background-color: $bg-email;
						}
					}
				}
			}
		}
	}
	.arrow-bottom{
		width: 56px;
		height: 56px;
		padding: 20px 0;
		border-radius: 50%;
		background: $theme-color-white;
		@include margin-all(null,null,null,-23px);
		@include position(absolute,null,null,null,50%);
	}
	@media screen and (min-width: $screen-sm){
		ul{
			&.social-media{
				&.colored{
					width: auto;
					@include position(absolute,100px,null,null);
					@include margin-all(0,auto,null,auto);
					li{
						display: table;
					}
				}
			}
		}
	}
	@media screen and (min-width: $screen-md){
		&.highlight-bottom{
			p{
				width: 75%;
			}
		}
		ul{
			&.social-media{
				&.colored{
					@include position(absolute,200px,null,null,null);
				}
			}
		}
	}

	@media screen and (min-width: $screen-lg){
		padding-top:70px;
		&.highlight{
			h1{
				max-width: 710px;
			}
			h2{
				max-width: 780px;
			}
			p{
				width: 325px;
			}
		}
		ul{
			&.social-media{
				&.colored{
					@include position(absolute,250px,null,null,10%);
				}
			}
		}
	}
}//end section

