@import 'compass';
@import 'mixin';
@import 'variables';
@import 'fonts';

//btn
.btn{
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	text-transform: uppercase;
	color: $theme-color-white;
	font-weight: $font-medium;
	font-size: $font-size-base;
	@include padding-all(22px,60px,22px,60px);
	&.icon{
		@include inline-block;
		@include padding-all(null,25px,null,25px);
		span{
			margin-right: 10px;
		}
	}
    &.center{
        display: table;
    }
}
.btn-primary{
	background-color: $theme-color-primary;
}

//overlay
.overlay{
    display: none;
    width:100%;
    height: 100%;
    background-color: $theme-color-primary;
    opacity:0.9;
    @include position(absolute,60px,null,null,0);
}

//loader
.loader{
    background: $theme-color-dark;
    width: 100%;
    z-index: 9999;
    height: 100%;
    @include position(fixed, $top: 0, $left: 0);
    .loading{
        display: block;
        border-radius: 50%;
        border: 5px solid transparent;
        border-top-color:$theme-color-primary;
        z-index: 99999999;
        @include position(relative, $top: 50%, $left: 50%);
        @include size(60px,60px);
        @include margin-all(-30px,0,0,-30px);
        @include animation(spin 1s linear infinite);
    }
}
@include keyframes (spin){
	 0%   { 
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

//change placeholder color
::-webkit-input-placeholder {
   color: $theme-color-primary;
}
:-moz-placeholder {
   color: $theme-color-primary;
}
::-moz-placeholder {
   color: $theme-color-primary;  
}
:-ms-input-placeholder {  
   color: $theme-color-primary; 
}

//icon menu
.hamburguer{
    cursor:pointer;
    @include size(35px,40px);
    @include transform(rotate(0deg));
    @include transition-duration(.5s);
    @include transition-timing-function(ease-in-out);
    span{
        display:block;
        position:absolute;
        left:0;
        height:3px;
        width:100%;
        background:$theme-color-primary;
        opacity:1;
        @include transform(rotate(0deg));
        @include transition-duration(.5s);
        @include transition-timing-function(ease-in-out);
        &:first-child,
        &:nth-child(2),
        &:nth-child(3){
            transform-origin:
            left center;    
        }
        &:first-child{      
            top:0;
        }
        &:nth-child(2){          
            top:8px;
        }
        &:nth-child(3){         
            top:16px;
        }
    }
    &.open{
        span{
            &:first-child{
                top:-3px;
                left:6px;
                @include transform(rotate(45deg));
            }
            &:nth-child(2){    
                width:0;
                opacity:0;
            }
            &:nth-child(3){       
                top:22px;
                left:4px;
                @include transform(rotate(-45deg));
            }
        }
    }
}






