@import 'compass';
@import 'variables';
@import 'mixin';

// fonts //
@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,500,600,700,900');

$font-primary: 'Raleway', sans-serif;
$font-black:900;
$font-medium:500;
$font-regular:400;

p{
	font-weight: $font-regular;
	font-size: $font-size-base;
	margin: 0 0 25px 0;
	line-height: 25px;
}

h1,h2,h3{
	margin-bottom: 30px;
	text-transform: uppercase;
}
h1,h2{
	font-size: $font-size-md + 5;
	font-weight: $font-black;
}
h2{
	color:$theme-color-primary;
}
h3{
	font-size: $font-size-md;
	font-weight: $font-medium;
}
@media screen and (min-width: $screen-lg) {
	p{
		font-size:$font-size-md;
	}
	h1,h2{
		font-size:$font-size-lg;
	}
	h2{
		font-size:$font-size-lg - 1;
	}
	h3{
		font-size:$font-size-md + 8;
	}
}




