@import 'compass';
@import 'variables';
@import 'mixin';
@import 'elements';
@import 'fonts';

footer{
	section{
		h3{
			font-size: $font-size-base;
			margin-bottom: 15px;
		}
		p{
			font-size: $font-size-base - 2;
			line-height: 18px;
		}
		a{
			color: $theme-color-white;
		}
		&.footer{
			background-color: $theme-color-black;
			color: $theme-color-white;
			.address{
				span{
					&.icon-pin{
						@include margin-all(null,null,10px,null);
					}
				}
				p:first-of-type{
					margin-bottom:0;
				}
			}
			ul{
				&.social-media{
					@include margin-all(null,null,30px,null);
					li{
						border: 1px solid $theme-color-white;
	    				display: table-cell;
	    				@include margin-all(0,0,0,0);
	    				@include padding-all(0,0,0,0);
						a{
						}
					}
				}
			}
			.warning{
				p{
					font-size: $font-size-base - 4;
				}
			}
			@media screen and (min-width: $screen-md){
				.address{
					span{
						&.icon-pin{
							float:left;
							@include margin-all(null,10px,null,null);
						}
					}
				}
			}
		}//end class footer
	}//end section
}//end footer

