@import 'compass';
@import 'variables';
@import 'mixin';
@import 'general';
@import 'elements';
@import 'fonts';
form{
	&.form{
		margin: 0 auto;
		input{
			&.input-form{
				font-style: italic;
				font-weight: 200;
				width: 100%;
				margin: 0 0 20px 0;
				color:$theme-color-primary;
				@include padding-all(10px,0,10px,15px);
			}
		}
		button[type=submit]{
			background: $theme-color-primary;
			border: none;
			width: 100%;
			@include padding-all(10px,0,10px,0);
		}
		&.form-newsletter{
			width: 290px;
			input{
				&.input-form{
					margin: 0;
				}
			}
		}
	}

	@media screen and (min-width: $screen-md){
		&.form{
			&.form-newsletter{
				width: 700px;
				@include margin-all(50px,null,40px,null);
				.form-group{
					display: inline-block;
					input{
						&.input-form{
							font-size: $font-size-md;
	    					width: 455px;
							@include padding-all(25px,0,21px,19px);
						}
					}
					button[type=submit]{
						font-size: $font-size-md;
						@include margin-all(-10px,null,null,-10px);
				    	@include padding-all(25px,70px,25px,70px);
					}
				}
			}
		}
	}
}//end form
