@import 'compass';
@import 'variables';
@import 'mixin';
@import 'elements';
@import 'fonts';

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: $font-size-base;
}

body{
    color:$theme-color-text;
    font-family: $font-primary;
}

a{
    text-decoration: none;
}

li{
	list-style: none;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.center{
    display: table;
    @include margin-all(null,auto,null,auto);
}
span{
    &.bold{
        font-weight: bold;
    }
    &.italic{
        font-style: italic;
    }
}

.container{
    max-width: 920px;
    padding: 20px;
    clear:both;
    @include margin-all(0,auto,null,auto);
}
.container-fluid{
    width: 100%;
}

