@import 'compass';
@import 'variables';
@import 'mixin';
@import 'elements';
@import 'fonts';

.col{
    width: 100%;
}
@media screen and (min-width: $screen-md){
    .col{
        float: left;
        &.col-6{
            width: 50%;
        }
        &.col-3{
            width: 25%;
        }
    }
}
