@import 'compass';
@import 'variables';
@import 'mixin';
@import 'elements';
@import 'fonts';

header{
	.navbar{
		height: 60px;
		background-color: $theme-color-white;
		.elements{
			height: 55px;
			background-color: $theme-color-white;
			margin-top: -20px;
			padding-top: 20px;
			position: relative;
			width: 100%;
			z-index: 9999;
			.logo{
				margin-top: -15px;
				width: 130px;
				float: left;
			}
			.hamburguer{
				float: right;
			}
		}
	}
	ul{
		&.menu{
			display: none;
			width: 100%;
			@include inline-block;
			position: relative;
			margin-top: -360px;
			border-bottom: 3px solid $theme-color-primary;
			background-color: $theme-color-white;
			@include transition-duration(.6s);
        	@include transition-timing-function(ease);
			li{
				border-bottom: 1px solid $theme-color-gray;
				display: block;
				@include padding-all(10px,null,10px,30px);
				a{
					text-transform: uppercase;
					font-size: $font-size-base - 1;
					color: $theme-color-black;
					@include inline-block;
				}
				&:last-child{
					border-bottom: none;
				}
				&:hover{
					a{
						font-weight: $font-medium;
						color: $theme-color-primary;
					}
				}
			}
			&.menu-open{
			    margin-top: 0;
			    z-index: 9;
			    position: relative;
			    @include transition-duration(.6s);
        		@include transition-timing-function(ease);
			}
		}
	}
	@media screen and (min-width: $screen-md){
		.navbar{
			height: 130px;
			.elements{
				height: auto;
				background-color: transparent;
				margin-top: 30px;
				padding-top: 0;
				position: initial;
				width: 200px;
				float: left;
				.logo{
					width: 200px;
				}
				.hamburguer{
					display: none;
				}
			}
		}
		ul{
			&.menu{
				float: right;
				width: auto;
				position: relative;
				border-bottom: none;
				background-color: transparent;
				@include margin-all(42px,0,0,0);
				@include inline-block;
				li{
					border-bottom: none;
					@include padding-all(0,10px,0,0);
					@include inline-block;
					&:last-child{
						@include padding-all(0,0,0,0);
					}
				}
			}
		}
	}
}//end header


