@import 'compass';
@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
	position: $position;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

@mixin size($width, $height: $width) {
	width: $width;
	height: $height;
}

@mixin padding-all($padding-top: null,$padding-right: null,$padding-bottom: null,$padding-left: null) {
	padding-top: $padding-top;
	padding-right: $padding-right;
	padding-bottom: $padding-bottom;
	padding-left: $padding-left;
}

@mixin margin-all($margin-top: null,$margin-right: null,$margin-bottom: null,$margin-left: null) {
	margin-top: $margin-top;
	margin-right: $margin-right;
	margin-bottom: $margin-bottom;
	margin-left: $margin-left;
}
