@import 'compass';
@import 'variables';
@import 'mixin';

@import 'icon/*.png';

@include all-icon-sprites;

.facebook{ @include icon-sprite(facebook);}
.twitter{ @include icon-sprite(twitter);}
.linkedin{ @include icon-sprite(linkedin);}
.gplus{ @include icon-sprite(gplus);}
.whatsapp{ @include icon-sprite(whatsapp);}
.email{ @include icon-sprite(email);}

.lg-facebook{ @include icon-sprite(lg-facebook);}
.lg-twitter{ @include icon-sprite(lg-twitter);}
.lg-linkedin{ @include icon-sprite(lg-linkedin);}
.lg-gplus{ @include icon-sprite(lg-gplus);}
.lg-whatsapp{ @include icon-sprite(lg-whatsapp);}
.lg-email{ @include icon-sprite(lg-email);}

.icon-sprite{
	@include inline-block;
}

.icon-arrow-bottom{
	@include size(25px,15px);
}
.icon-arrow-top{
	@include size(25px,15px);
}
.icon-pin{
	@include size(33px,33px);
}





