@import 'compass';

// COLOR
$theme-color-primary:#b21e37;
$theme-color-dark:#282727;
$theme-color-gray:#eee;
$theme-color-text:#6d6d6d;
$theme-color-black:#000;
$theme-color-white:#ffffff;

//BACKGROUND
$bg-facebook:#3c5a96;
$bg-twitter:#2aa3ef;
$bg-linkedin:#1178b3;
$bg-gplus:#da4f46;
$bg-whatsapp:#52c04e;
$bg-email:#848484;

//FONTS
$font-size-base:16px;
$font-size-md:21px;
$font-size-lg:42px;

//SCREEN
$screen-xs:320px;
$screen-sm:720px;
$screen-md:990px;
$screen-lg:1200px;


